/* .basket_root {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-start; 
margin-top: 30px;

} */

.basket {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    z-index: 1;
    width: 92%
    
}

.basket > img {
    max-height:  200px;
    width: 100px;
    object-fit: contain;
    margin-right: 20px;
    margin-left: 5px;
}

.basket_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 8px;
}

.basket_info > small {
     margin-bottom: 5px;
}

.basket_info > strong {
    margin-bottom: 5px;
}

.basket_info > button {
    background-color: #ff9a02;
    color: #111111;
    border : none ;
    border-radius: 7px;
    padding:5px;
    margin-top: 10px;
}

 

.basket_info > button:hover {
    background: #f49403;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f48c03,
                0 0 30px #f48c03,
                0 0 40px #f48c03;
}

