.product_root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 30px;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    border-radius: 8px;
    z-index: 1;
    width: 100%
}
 
.product_info {
    height: 100px;
    margin-bottom: 60px;
    width: 100%;
}
.product_description {
    margin-bottom: 5px;
}
.product_price {
    margin-top: 5px;
}
.product_rating {
    color: rgb(255, 255, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product_button { 
    background: #f49403;
    border: 1px solid;
    border-radius: 3px;
    border-color: #b9730a #a36406 #89590f ;
    margin-top: 10px;
    padding : 5px;
    color: #131A22;
} 

.product_button:hover { 
    background: #f49403;
    color: #fff;
    border-color: #f49403;
    border-radius: 8px;
    box-shadow: 0 0 5px #f48c03,
                0 0 25px #f48c03,
                0 0 50px #f48c03,
                0 0 100px #f48c03;
} 

.product_root:hover {
    box-shadow: 0 15px 25px #00000085;
}