.product_root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
    width: 100%
}
 
.product_info {
    height: 100px;
    margin-bottom: 10px;
    width: 100%;
}
.product_description {
    margin-bottom: 5px;
}
.product_price {
    margin-top: 5px;
}
.product_rating {
    color: yellow;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_image {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product_button { 
    background: #FF9900;
    border: 1px solid;
    border-color: #b9730a #a36406 #89590f ;
    margin-top: 10px;
    padding : 5px;
    color: #131A22;
} 