.product_root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 30px;
    min-width: 100px;
    background-color: white;
    border-radius: 8px;
    z-index: 1;
    width: 100%
}
 
.product_info {
    min-height: 100px;
    margin-bottom: 30px;
    width: 100%;
}
.product_description {
    margin-bottom: 20px;
    font-size: medium;
}
.product_price {
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-size: x-large;
}
.product_rating {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 10px;
}
.product_button { 
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f49403;
    border: 1px solid;
    border-radius: 5px;
    border-color: #b9730a #a36406 #89590f ;
    margin-top: 30px;
    width: 40%;
    padding : 8px;
    color: #131A22;
} 

.product_button:hover { 
    background: #f49403;
    color: #fff;
    border-color: #f49403;
    border-radius: 8px;
    box-shadow: 0 0 5px #f48c03,
                0 0 25px #f48c03,
                0 0 50px #f48c03,
                0 0 100px #f48c03;
} 

.product_root:hover {
    box-shadow: 0 15px 25px #00000085;
}
/* 
.snackbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 8px;
}

.snackbar img {
    height:  60px;
    width: 60px;
    object-fit: contain;
    margin-right: 50px;
    margin-left: 10px;
}

.snackbar_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding : 8px;
    color :black
} */