 .subtotal_basket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;    
    margin-top: 30px;
}
   
.basket_row {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207);
    border-radius: 8px;
    margin-bottom: 10px;
    
}
   
.basket_row > img {
    max-height:  50px;
    width: 50px;
    object-fit: contain;
    margin-right: 20px;
    margin-left: 8px;
}
   
.subtotal_basket_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding : 8px;
}
   
.subtotal_basket_info > small {
    margin-bottom: 5px;
    font-size: 10px;
}
   
.subtotal_basket_info > strong {
    margin-bottom: 5px;
}

.subtotal_product_rating {
    color : yellow ;

}
